<template>
    <div>
        <div class="toolbar row">
            <div class="btn-toolbar mb-1" role="toolbar" aria-label="Outils">
                <div class="btn-group btn-group-toggle mr-2">
                    <tool-radio-button
                            title="Sélection"
                            tooltip="Mode sélection"
                            icon-class="fa fa-hand-pointer"
                            input-value="selection"/>

                    <tool-table/>

                    <tool-seat/>

                    <tool-text/>
                </div>

                <div class="btn-group mr-2" role="group" aria-label="Edition">
                    <action-copy-paste/>

                    <action-remove/>
                </div>

                <div class="btn-group mr-2" role="group" aria-label="Historique">
                    <action-history/>
                </div>

                <div class="input-group mr-2">
                    <setting-size/>
                </div>
            </div>
        </div>
        <div class="row">
            <canvas id="c" width="1" height="1"></canvas>
            <input type="hidden" name="json" :value="state">
            <input type="hidden" name="svg" :value="canvasSvg">
            <input type="hidden" name="thumbnail" :value="canvasPng">
        </div>

        <!-- BUG : https://stackoverflow.com/questions/28877001/canvas-only-renders-custom-webfont-on-click-event-with-fabric-js -->
        <span v-for="(fontFamily, type) in fontFamilies" :style="'font-family:\''+fontFamily+'\', '+type"></span>
    </div>
</template>

<script>
    import {CANVAS_SAVE} from '../../store/mutation-types'

    import FONTS from './config/fonts';

    import ToolSeat from "./components/Tools/ToolSeat";
    import ToolText from "./components/Tools/ToolText";
    import ToolTable from "./components/Tools/ToolTable";
    import ToolRadioButton from "./components/Tools/components/ToolRadioButton";

    import ActionCopyPaste from "./components/Actions/ActionCopyPaste";
    import ActionHistory from "./components/Actions/ActionHistory";
    import ActionRemove from "./components/Actions/ActionRemove";

    import SettingSize from "./components/Settings/SettingSize";

    import Canvas from "./classes/Canvas";

    export default {
        components: {
            ToolText,
            ToolSeat,
            ToolTable,
            ToolRadioButton,
            ActionCopyPaste,
            ActionHistory,
            ActionRemove,
            SettingSize,
        },
        props: [
            'json'
        ],
        data() {
            return {
                fontFamilies: FONTS,
                canvasPng: null,
                canvasSvg: null,
            }
        },
        computed: {
            canvas() {return this.$store.state.canvas},
            state() {return this.$store.state.json}
        },
        mounted() {
            this.$store.dispatch('initCanvas', new Canvas('c'));

            // Load Existing data : edit mode
            if (this.json) {
                this.canvas.initFromJSON(this.json, this.save);
            }
            // Brand new canvas
            else {
                this.save();
            }
        },
        methods: {
            exportPng() {
                this.canvasPng = this.canvas.getPng(0.2);
            },
            exportSvg() {
                this.canvasSvg = this.canvas.getSvg()
            },
            save() {
                this.$store.commit(CANVAS_SAVE)
            },
        }

    };
</script>

<style lang="scss">
    h1 {
        margin: 50px 0;
    }

    #c {
        border: 1px solid #ccc;
        background: #fff;
        width: 100%;
    }

    .toolbar {
        .btn:disabled {
            opacity: 0.15
        }
    }

    .smallLabelOverSelect {
        font-size: 10px;
        position: absolute;
        top: -17px;
        left: 7px;
    }

    .fontSizeSelect {
        width: 81px;
        height: 49px;
    }

    .fontFamilySelect {
        width: 130px;
        height: 49px;
    }

    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active {
        background: rgba(63, 81, 181, 0.5) !important;
    }

    .input-group-append .input-group-text {
        background: rgba(63, 81, 181, 0.2) !important;
    }
</style>