<template>
    <fieldset class="group">
        <legend>
            <input type="text" v-model="group.name" :name="buildInputNamePrefix()+'[name]'">
        </legend>
        <slot></slot>
        <draggable v-model="group.seaters"
                   :options="{forceFallback: true, ghostClass: 'ghost', group:'seat'}"
                   @start="seatIsBeingDragged=true"
                   @end="seatIsBeingDragged=false"
                   class="draggable">
            <div class="card seat" v-for="(seater, seaterIndex) in group.seaters" :key="seaterIndex">
                <div class="card-body">
                    <h5 class="card-title">{{seater.firstname}} {{seater.lastname}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{seater.email}}</h6>
                </div>
                <i class="fa fa-trash" v-on:click="removeSeater(seaterIndex)"></i>
                <input type="hidden" :name="buildSeaterInputName(seaterIndex, 'firstname')"
                       v-model="seater.firstname">
                <input type="hidden" :name="buildSeaterInputName(seaterIndex, 'lastname')"
                       v-model="seater.lastname">
                <input type="hidden" :name="buildSeaterInputName(seaterIndex, 'email')"
                       v-model="seater.email">
            </div>
        </draggable>
    </fieldset>
</template>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        props: {
            group: Object,
            index: Number,
            parentIndex: {
                type: Number,
                default: -1
            }
        },
        data: _ => {
            return {
                seatIsBeingDragged: false
            }
        },
        mounted() {

        },
        methods: {
            buildInputNamePrefix() {
                let groupIndex = this.index;
                if(this.parentIndex !== -1) {
                    groupIndex = this.parentIndex;
                }

                let prefix =  'seaters_groups['+groupIndex+']';

                if(this.parentIndex !== -1) {
                    prefix += '[subgroups]['+this.index+']';
                }
                return prefix;
            },
            buildSeaterInputName(seaterIndex, name) {
                return this.buildInputNamePrefix()+'[seaters]['+seaterIndex+']['+name+']';
            },
            removeSeater(seaterIndex) {
                this.group.seaters.splice(seaterIndex, 1);
            },
        }

    }
</script>

<style lang="scss" scoped>
    .group {
        position: relative;
        background: rgba(63, 81, 181, 0.1);
        padding: 5px;
        margin: 10px 0;

        .draggable {
            width: 100%;
            min-height: 100px;
        }
    }

    .seat {
        display: inline-block;
        position: relative;
        cursor: move;

        &.ghost {
            opacity: 0.5
        }

        .fa-trash {
            position: absolute;
            bottom: 5px;
            right: 5px;
            cursor: pointer;
        }
    }
</style>
