<template>
    <fragment>
        <button type="button" class="btn btn-light"
                :disabled="!hasActiveSelection"
                v-on:click="copy"
                data-toggle="tooltip"
                title="Copier" id="test">
            <i class="fa fa-copy"></i>
        </button>
        <button type="button" class="btn btn-light"
                :disabled="!hasActiveSelection"
                v-on:click="paste"
                data-toggle="tooltip"
                title="Coller">
            <i class="fa fa-paste"></i>
        </button>
    </fragment>
</template>


<script>
    import Fragment from 'vue-fragment';
    Vue.use(Fragment.Plugin);

    import {CANVAS_ADD_EVENTS, CANVAS_SAVE} from "../../../../store/mutation-types";

    import hotkeys from 'hotkeys-js';

    import {ShapeSelection} from "../../classes/Shapes";

    export default {
        data() {
            return {
                clipboard: null,
                hasActiveSelection: false
            }
        },
        computed: {
            canvas() {
                return this.$store.state.canvas
            },
            selectedTool() {
                return this.$store.state.selectedTool
            }
        },
        mounted() {
            const preventDefault = (e, then) => {
                // Prevent the default refresh event under WINDOWS system
                e.preventDefault();
                then();
            };

            // Keyboard Shortcuts
            hotkeys("ctrl+c", e => preventDefault(e, this.copy));
            hotkeys("ctrl+v", e => preventDefault(e, this.paste));

            this.$store.commit(CANVAS_ADD_EVENTS, {
                'selection:created': () => {
                    this.hasActiveSelection = true;
                },
                'selection:cleared': () => {
                    this.hasActiveSelection = false;
                }
            });
        },
        methods: {
            copy() {
                let object = this.canvas.getActiveObject();
                if (!object) return;

                let shape;

                // Check if selection is an active selection
                if (object.type === 'activeSelection') {
                    shape = new ShapeSelection(object);
                }
                else if (object.shape) {
                    shape = object.shape;
                }
                else {
                    throw "Object has no shape attached";
                }

                // clone what are you copying since you
                // may want copy and paste on different moment.
                // and you do not want the changes happened
                // later to reflect on the copy.
                shape.clone((cloned) => {
                    this.clipboard = cloned;
                });
            },
            paste() {
                if (!this.canvas.getActiveObject()) return;

                // clone again, so you can do multiple copies.
                this.clipboard.clone((clonedShape) => {
                    let clonedObject = clonedShape.fabricObject;

                    this.canvas.discardActiveObject();
                    clonedObject.set({
                        left: clonedObject.left + 10,
                        top: clonedObject.top + 10,
                        evented: true,
                    });

                    this.canvas.addShape(clonedShape);

                    this.clipboard.top += 10;
                    this.clipboard.left += 10;

                    this.canvas.toggleAllSelectable(this.selectedTool === "selection");

                    this.canvas.reorderSeats();

                    // Select the newly pasted object
                    this.canvas.setActiveObject(clonedObject);

                    this.$store.commit(CANVAS_SAVE)
                });
            },
        },
    }
</script>