<template>
    <fragment>
        <button type="button" class="btn btn-light"
                :disabled="!undoStates.length"
                v-on:click="undo()"
                data-toggle="tooltip"
                title="Annuler une modification"
                id="undo">
            <i class="fa fa-undo"></i>
        </button>
        <button type="button" class="btn btn-light"
                :disabled="!redoStates.length"
                v-on:click="redo()"
                data-toggle="tooltip"
                title="Rétablir une modification"
                id="redo">
            <i class="fa fa-redo"></i>
        </button>
    </fragment>
</template>


<script>
    import Fragment from 'vue-fragment';
    Vue.use(Fragment.Plugin);

    import {CANVAS_ADD_EVENTS, CANVAS_SAVE} from "../../../../store/mutation-types";

    import hotkeys from 'hotkeys-js';

    export default {
        computed: {
            state: {
                get() {return this.$store.state.json},
                set(json) {this.$store.state.json = json}
            },
            undoStates() {
                return this.$store.state.undos
            },
            redoStates() {
                return this.$store.state.redos
            },
            canvas() {
                return this.$store.state.canvas
            }
        },
        mounted() {
            const preventDefault = (e, then) => {
                // Prevent the default refresh event under WINDOWS system
                e.preventDefault();
                then();
            };

            // Keyboard Shortcuts
            hotkeys("ctrl+z", e => preventDefault(e, this.undo));
            hotkeys("ctrl+y, ctrl+shift+z", e => preventDefault(e, this.redo));

            this.$store.commit(CANVAS_ADD_EVENTS, {
                'drawing:end': _ => {
                    this.save();
                },
                'object:modified': () => {
                    this.save();
                },
                'object:removed': () => {
                    this.save();
                }
            });
        },
        methods: {
            save() {
                this.$store.commit(CANVAS_SAVE)
            },

            undo() {
                this.replay(this.undoStates, this.redoStates, '#redo', '#undo')
            },

            redo() {
                this.replay(this.redoStates, this.undoStates, '#undo', '#redo')
            },

            /**
             * Save the current state in the redo stack, reset to a state in the undo stack, and enable the buttons accordingly.
             * Or, do the opposite (redo vs. undo)
             * @param playStack which stack to get the last state from and to then render the canvas as
             * @param saveStack which stack to push current state into
             * @param buttonsOn jQuery selector. Enable these buttons.
             * @param buttonsOff jQuery selector. Disable these buttons.
             */
            replay(playStack, saveStack, buttonsOn, buttonsOff) {
                saveStack.push(this.state);
                this.state = playStack.pop();
                let on = $(buttonsOn);
                let off = $(buttonsOff);
                // turn both buttons off for the moment to prevent rapid clicking
                on.prop('disabled', true).tooltip('hide');
                off.prop('disabled', true).tooltip('hide');
                this.canvas.loadFromJSON(this.state, () => {
                    // now turn the buttons back on if applicable
                    on.prop('disabled', false);
                    if (playStack.length) {
                        off.prop('disabled', false);
                    }
                    this.canvas.reorderSeats();
                });
            }
        },
    }
</script>