<template>
    <div>
        <p class="lead">Ajoutez ou importez vos élèves à partir d'un fichier</p>

        <div class="toolbar row">
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group-toggle mr-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Prénom</div>
                        </div>
                        <input type="text" class="form-control mr-2 addSeatInput" v-model="firstname">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Nom</div>
                        </div>
                        <input type="text" class="form-control mr-2 addSeatInput" v-model="lastname">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Email</div>
                        </div>
                        <input type="email" class="form-control mr-2 addSeatInput" v-model="email">
                    </div>

                    <button type="button" class="btn btn-secondary"
                            v-on:click="add"
                            data-toggle="tooltip"
                            title="Ajouter">

                        <i class="fa fa-plus"></i>
                        Ajouter
                    </button>
                </div>
            </div>
        </div>

        <seaters-group-manager
                v-for="(seatersGroup, groupIndex) in seatersByGroup"
                :key="groupIndex+1"
                :group="seatersGroup"
                :index="groupIndex">

            <input type="hidden" v-model="seatersGroup.id" :name="'seaters_groups['+groupIndex+'][id]'">

            <seaters-group-manager
                    v-for="(seatersSubGroup, subGroupIndex) in seatersGroup.subgroups"
                    :key="subGroupIndex+1"
                    :group="seatersSubGroup"
                    :index="subGroupIndex"
                    :parent-index="groupIndex">
                <div class="dropleft">
                    <button class="btn btn-secondary dropdown-toggle" type="button"
                            :id="'dropdownMenuButton'+groupIndex+subGroupIndex" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" :aria-labelledby="'dropdownMenuButton'+groupIndex+subGroupIndex">
                    <span class="dropdown-item" v-on:click=""><i
                            class="fa fa-ruler"></i> Associer une règle</span>
                        <span class="dropdown-item" v-on:click="removeSubGroup(groupIndex, subGroupIndex)"><i
                                class="fa fa-trash"></i> Supprimer ce groupe</span>
                    </div>
                </div>
            </seaters-group-manager>

            <div class="dropleft">
                <button class="btn btn-secondary dropdown-toggle" type="button"
                        :id="'dropdownMenuButton'+groupIndex" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu" :aria-labelledby="'dropdownMenuButton'+groupIndex">
                    <span class="dropdown-item" v-on:click="addSubGroup(groupIndex)"><i class="fa fa-plus"></i> Ajouter un sous-groupe</span>
                    <span class="dropdown-item" @click="openRuleWizard"><i class="fa fa-ruler"></i> Associer une règle</span>
                    <span class="dropdown-item" v-on:click="removeGroup(groupIndex)"><i class="fa fa-trash"></i> Supprimer ce groupe</span>
                </div>
            </div>

        </seaters-group-manager>

        <button type="button" class="addGroupBtn"
                v-on:click="addGroup()"
                data-toggle="tooltip"
                title="Ajouter un groupe">

            <i class="fa fa-plus"></i>
            Ajouter un groupe
        </button>

        <!-- Modal -->
        <div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
            <rule-wizard />
        </div>
    </div>
</template>

<script>
    import SeatersGroupManager from './components/SeatersGroupManager';
    import RuleWizard from './components/RuleWizard/index';

    export default {
        components: {
            SeatersGroupManager,
            RuleWizard
        },
        props: {
            seatersByGroupInit: Array,
            imported: Array,
        },
        data() {
            return {
                seatersByGroup: JSON.parse(JSON.stringify(this.seatersByGroupInit)),
                firstname: null,
                lastname: null,
                email: null,
                importedSeaters: null
            }
        },
        mounted() {
            $('.addSeatInput').keypress(e => {
                if (e.keyCode === 13) {
                    this.add();
                    return false;
                }
            });
        },
        watch: {
            imported(importedSeaters) {
                this.addGroup("Groupe importé", importedSeaters)
            }
        },
        methods: {
            add() {
                if (!this.firstname && !this.lastname && !this.email) {
                    return;
                }

                let group = {};

                if (!this.seatersByGroup.length) {
                    group = this.addGroup();
                }
                else {
                    group = this.seatersByGroup[this.seatersByGroup.length - 1];
                }
                group.seaters.push({
                    firstname: this.firstname,
                    lastname: this.lastname,
                    email: this.email
                });

                this.firstname = "";
                this.lastname = "";
                this.email = "";

                $('.addSeatInput:first').focus();
            },
            buildGroup(name, seaters = []) {
                return {
                    name: name,
                    seaters: seaters,
                    subgroups: []
                }
            },
            addGroup(name = "Groupe", seaters = []) {
                let group = this.buildGroup(name + " " + (this.seatersByGroup.length + 1), seaters);
                this.seatersByGroup.push(group);
                return group;
            },
            removeGroup(groupIndex) {
                this.seatersByGroup.splice(groupIndex, 1);
            },
            addSubGroup(groupIndex) {
                let group = this.seatersByGroup[groupIndex];
                group.subgroups.push(
                    this.buildGroup("Sous groupe " + (group.subgroups.length + 1))
                );
            },
            removeSubGroup(groupIndex, subGroupIndex) {
                this.seatersByGroup[groupIndex].subgroups.splice(subGroupIndex);
            },
            openRuleWizard() {
                $('#rulesModal').modal({

                })
            }
        }

    }
</script>

<style lang="scss" scoped>
    .addSeatInput:invalid {
        border-color: red;
    }

    .addGroupBtn {
        width: 100%;
        background: none;
        border: 2px dashed #666;
        padding: 20px;
        cursor: pointer;

        &:hover {
            background: #eee;
        }
    }

    .dropleft {
        position: absolute;
        top: 20px;
        right: 0px;

        span {
            cursor: pointer;
        }
    }

    .input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
        height: 44px;
    }
</style>
